body {
    margin: 0;
    background: black;
    font-family: 'EB Garamond', serif;
}

input, textarea {
    padding: 5px;
    borde-radius: 5px;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    color: var(--black);
}

a {
    text-decoration: none;
}