.woocommerce-checkout-review-order {
    color: var(--white);
}

.checkout input, textarea {
    padding: 5px;
    borde-radius: 5px;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    color: var(--black);
}

.selection span {
    font-size: 16px;;
    color: var(--black);
}