.header {
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease-in-out;
  }

  .header a:visited {
    text-decoration: none;
    color: initial;
  }

  
  .header__title {
      transition: all .2s ease-in-out;
      padding-left: 1rem;
      text-transform: uppercase;
  }
  
  .header--dark {
      background: var(--transparent-black);
  }

  .header--black {
    background: var(--black);
    border-bottom: solid 1px var(--white);
    z-index: 10;
  }
  
  .header__title--white {
      color: var(--white);
  }
  
  @media only screen and (min-width: 768px) {
      .header__title {
          font-size: 45px;
      }
  }