@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
body {
  margin: 0;
  background: black;
  font-family: 'EB Garamond', serif;
}

input, textarea {
  padding: 5px;
  borde-radius: 5px;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  color: var(--black);
}

a {
  text-decoration: none;
}

:root {
  --black: #010101;
  --white: #dbdbdb;
  --transparent-black: rgba(0, 0, 0, 0.5);
  --green: #4BB543;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header a:visited {
  text-decoration: none;
  color: initial;
}

.header__title {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding-left: 1rem;
  text-transform: uppercase;
}

.header--dark {
  background: var(--transparent-black);
}

.header--black {
  background: var(--black);
  border-bottom: solid 1px var(--white);
  z-index: 10;
}

.header__title--white {
  color: var(--white);
}

.minicart {
  padding-right: 1rem;
  position: relative;
}

.minicart__logo {
  width: 50px;
  height: 50px;
}

.minicart__amount {
  position: absolute;
  left: 30px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--green);
  color: var(--white);
  text-align: center;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .header__title {
    font-size: 45px;
  }
}

.hero {
  height: 320px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 50vh;
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    height: 100vh;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  gap: 3rem;
}

.about__description h3 {
  color: var(--white);
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: 2rem;
}

.about__description p {
  line-height: 1.5rem;
  color: var(--white);
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .about {
    padding: 6rem 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .about {
    padding: 8rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about__description,
  .about__music {
    width: 50%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

.footer__header {
  text-transform: capitalize;
  color: var(--white);
}

.footer__emails {
  color: var(--white);
  text-align: center;
}

.footer__emails a {
  color: var(--white);
  text-decoration: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7.5rem;
  margin-bottom: 5rem;
}

.container h1, h2, h3, h4, h5, h6 {
  color: var(--white);
}

.container p {
  line-height: 1.5rem;
  color: var(--white);
  font-size: 18px;
}

.center {
  text-align: center;
}

.container a {
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px solid var(--white);
}

.cart-override * {
  color: var(--white);
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1pt solid var(--white);
}

.checkout-button.checkout-button.checkout-button.checkout-button.checkout-button.checkout-button {
  background-color: var(--black);
  border: 1px solid var(--white);
}

.woocommerce-cart-form {
  border: 1px solid var(--white);
  border-radius: 5px;
}

.input-text {
  color: var(--black);
}

.cart_totals {
  color: var(--white);
}

.back-button.back-button.back-button {
  background: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
}

.woocommerce-checkout-review-order {
  color: var(--white);
}

.selection span {
  font-size: 16px;
  color: var(--black);
}

.product-page-title {
  font-size: 3rem;
}

.product-page-price.product-page-price {
  font-size: 1.75rem;
}

.single_add_to_cart_button {
  background: var(--black);
  color: var(--white);
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  padding: 10px 16px;
  border: 1px solid var(--white);
  border-radius: 5px;
  font-weight: bold;
}

.wc-tabs {
  display: none;
}

.simple-add input {
  width: 90px;
  margin-bottom: 1rem;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.highlighted-product {
  text-align: center;
  margin-bottom: 4rem;
}

.highlighted-product__header {
  font-size: 2rem;
}

.highlighted-product__cta {
  background: var(--black);
  color: var(--white);
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  padding: 10px 16px;
  border: 1px solid var(--white);
  border-radius: 5px;
  font-weight: bold;
}

.highlighted-product__cta.highlighted-product__cta.highlighted-product__cta a {
  color: var(--white);
}

html {
  margin-top: 0 !important;
}
/*# sourceMappingURL=style.css.map */